	body{
		margin: 0;
		padding-top: 13%;
		font-size: 16px;
	}
	:link,:visited{
		color:white;
		text-decoration: none;
	}
	nav a{
		background-color:rgb(250,157,0);
		text-align: center;
		width: 28%;
		float: left;
		margin-left:4%;
		margin-bottom: 4%;
		padding-top: 4.4%;
		padding-bottom: 1.5em;
	}
	a img{
		height: 54px;
	}
	nav p{
		margin-top: 4%;
	}
	ul{
		width: 100%;
		position: fixed;
		right: -2%;
		bottom: -4%;
		z-index: 2;
		list-style-type: none;
	}
	ul img{
		width: 16.8421%;
	}
	ul li:nth-child(odd){
		margin-left: 9%;
	}
