*{
	margin: 0;
}
table{
	width: 90%;
	margin: 5% 0%;
	border-collapse: collapse;
	text-align: center;
	font-size: 16px;
	line-height: 1.6em;
	table-layout: fixed;
	font-weight: bold;
}
caption{
	font-size: 20px;
	color: darkblue;
}
tr:first-child th:not(:first-child){
	border-bottom: solid medium black;
}
tr:not(:first-child) th{
	border-right: solid medium black;
}
td:nth-child(3n+1){
	border-right: solid medium black;
}
td:not(:nth-child(3n+1)){
	border-right: solid thin red;
}
tr:nth-child(3n+1) td{
	border-bottom: solid medium black;
}
tr:not(:nth-child(3n+1)) td{
	border-bottom: solid thin red;
}
#msg{
	width: 100%;
	color: red;
	text-align: center;
	font-size: 14px;
	margin-bottom: 3%;
}
#getNum button{
	width: 14%;
	margin-left: 4%;
	margin-bottom: 3%;
	font-size: 14px;
}
#functionKey{
	width: 90%;
	margin: 0 auto;
}
#functionKey button{
	width: 16%;
	margin-left: 2.2%;
	line-height: 2em;
	font-size: 12px;
}
td{
	overflow: hidden;
}
@media only screen and (min-width: 360px) {
	body{
		width: 360px;
		margin: 0 auto;
	}
}